$root_font: "Poppins", sans-serif;
$root_font_size: 16px;
$root_text_color: #4d4f53;
$heading_text_color: #000;
$heading_font_weight: 600;

$primary: #fe982e;
$clr-primary-900: #fe982e;
$primary-dark: #f98914;

:root {
  --clr-primary: #{$primary};
  --clr-primary-900: #{$clr-primary-900};
  --clr-primary-dark: #{$primary-dark};
}
