.cp-bg-image{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.#{$prefix}-bg-image-contain {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.cp-bg-white-smoke{
  background-color: $white_smoke;
}
  