
.#{$prefix}-border-0 {
  border: 0;
}

@for $i from 2 through 25 {
  .#{$prefix}-border-radius-#{$i} {
    border-radius: #{$i}px;
  }
}

.#{$prefix}-border-radius-rounded {
  border-radius: 100%;
}
.#{$prefix}-border {
  @include border();
}
.#{$prefix}-border-top {
  @include border-top();
}
.#{$prefix}-border-left {
  @include border-left();
}
.#{$prefix}-border-bottom {
  @include border-bottom();
}
.#{$prefix}-border-right {
  @include border-right();
}
// Border color
