/*
  1. Text transform
  2. Clipping text
  3. Word Break
*/
// Text transform
.#{$prefix}-text-uppercase {
  text-transform: uppercase;
}
.#{$prefix}-text-capitalize {
  text-transform: capitalize;
}
.#{$prefix}-text-lowercase{
  text-transform: lowercase;
}
// Clipping text
.#{$prefix}-line-limit-1{
  @include line-limit();
}
.#{$prefix}-line-limit-2{
  @include line-limit(2);
}
.#{$prefix}-line-limit-3{
  @include line-limit(3);
}
.#{$prefix}-line-limit-4{
  @include line-limit(4);
}
// Word Break
.#{$prefix}-word-break{
  word-break: break-word;
}
.#{$prefix}-word-break-all{
  word-break: break-all;
}
// Text Decoration
.#{$prefix}-text-underline{
  text-decoration: underline;
}
// Line height
.#{$prefix}-line-height-1{
  line-height: 1;
}
.#{$prefix}-line-height-2{
  line-height: 2;
}