@for $i from 1 through 8{
  .#{$prefix}-gap-#{$i} {
    gap: $i * 4px;
  }
  //row gap
  .#{$prefix}-row-gap-#{$space} {
    row-gap: $i * 4px;
  }
  //column gap
  .#{$prefix}-col-gap-#{$space} {
    column-gap: $i * 4px;
  }
}