.#{$prefix}-overflow-visible{
  overflow: visible;
}
.#{$prefix}-visibility-hidden{
  visibility: hidden;
}
.#{$prefix}-overflow-hidden{
  overflow: hidden;
}
.#{$prefix}-overflow-y-auto{
  overflow-y: auto;
}
.#{$prefix}-overflow-y-hidden{
  overflow-y: hidden;
}
.#{$prefix}-overflow-x-auto{
  overflow-x: auto;
}
.#{$prefix}-overflow-x-hidden{
  overflow-x: hidden;
}