 <!--As seen section-->
{{#asSeenOn}}
  <div class="as-seen page-section-top">
      <div class="container">
      <h4 class="text-center fw-600 mb-32">As seen on</h4>

      <div id="as-seen_slider" class="splide">
          <div class="splide__track">
          <ul class="splide__list">
              {{#items}}
                  <li class="splide__slide">
                      <div class="as-seen_image">
                          <img
                              src="{{image}}"
                              alt="as seen logo"
                          />
                      </div>
                  </li>
              {{/items}}
          </ul>
          </div>
      </div><!--#as-seen_slider-->

      </div><!--.container---->
  </div><!--/as-seen-->
{{/asSeenOn}}