<div id="as-seen_slider" class="splide">
    <div class="splide__track">
        <ul class="splide__list">
            <li class="splide__slide">
                <div class="as-seen_image">
                    <img src="https://cdn.fluid.app/asea/as_seen_1.svg" alt="as seen logo" />
                </div>
            </li>
            <li class="splide__slide">
                <div class="as-seen_image">
                    <img src="https://cdn.fluid.app/asea/as_seen_2.svg" alt="as seen logo" />
                </div>
            </li>
            <li class="splide__slide">
                <div class="as-seen_image">
                    <img src="https://cdn.fluid.app/asea/as_seen_3.svg" alt="as seen logo" />
                </div>
            </li>
            <li class="splide__slide">
                <div class="as-seen_image">
                    <img src="https://cdn.fluid.app/asea/as_seen_4.svg" alt="as seen logo" />
                </div>
            </li>
            <li class="splide__slide">
                <div class="as-seen_image">
                    <img src="https://cdn.fluid.app/asea/as_seen_5.svg" alt="as seen logo" />
                </div>
            </li>
            <li class="splide__slide">
                <div class="as-seen_image">
                    <img src="https://cdn.fluid.app/asea/as_seen_6.svg" alt="as seen logo" />
                </div>
            </li>
            <li class="splide__slide">
                <div class="as-seen_image">
                    <img src="https://cdn.fluid.app/asea/as_seen_7.svg" alt="as seen logo" />
                </div>
            </li>
        </ul>
    </div>
</div>