{{#review}}
  <div class="cp-review-tab-section cp-page-top-section">
    <div class="cp-container">
      <div class="cp-desc-wrapper cp-text-center">
        <h2 class="cp-m-0">{{title}}</h2>
        <p>{{desc}}</p>
      </div>
      <ul class="cp-tab-menu cp-reset-ul cp-page-top-section-md">
        <li class="active"><span>{{written_review_text}}</span></li>
        <li><span>{{video_review_text}}</span></li>
      </ul>
      <ul class="cp-reset-ul cp-tab-menu-content cp-page-top-section-md">
        <li>
          <div class="cp-testimonial-section cp-pl-10 cp-pr-10">
            {{>DemoTestimonialSlider}}
          </div>
        </li>
      </ul>
    </div>
  </div>
{{/review}}