{{#key_ingredients}}
  <section class="page-section key-ingredients-section ingredients">
    <div class="section-title text-center">
      <div class="container">
        <h2>{{title}}</h2>
      </div>
    </div>
    <div class="key-ingredients-slider-desktop-section">
      <div class="container">
        <div id="key-ingredients-slider-desktop" class="splide ">
          {{>PrevNext}}
          <div class="splide__track">
            <ul class="splide__list">
              {{#item_list_desktop}}
                <li class="splide__slide">
                  {{#item}}
                    <div class="item mt-32">
                      <div class="image-section"style="background-image: url({{bg_image}})"></div>
                      <div class="ingredient-name text-center clr-body">{{item_name}}</div>
                    </div>
                  {{/item}}
                </li>

              {{/item_list_desktop}}
            </ul>
          </div>
        </div><!-- .key-ingredients-slider -->
      </div><!-- .container -->
    </div>
    <div class="key-ingredients-slider-mobile-section">
      <div class="container">
        <div id="key-ingredients-slider-mobile" class="splide">

          {{>PrevNext}}
          <div class="splide__track">
            <ul class="splide__list">
              {{#items_list}}
                <li class="splide__slide">
                  <div class="item mt-32">
                    <div class="image-section" style="background-image: url({{bg_image}})"></div>
                    <div class="ingredient-name text-center clr-body">{{item_name}}</div>
                  </div>
                </li>
              {{/items_list}}
            </ul>
          </div>

        </div><!-- .key-ingredients-slider -->
      </div><!-- container -->
    </div><!-- .key-ingredients-slider-mobile-section -->

    <div class="container">
      <div class="key-note fs-sm text-center pt-60">{{{ingredients}}}</div>
    </div>
  </section>
{{/key_ingredients}}
