{{#hero_section}}
  <div class="banner-layout-1" {{{image}}}>
    <div class="container">
      <div class="wrapper clr-white">
        <h5 class="clr-white">{{title_sm}}</h5>
        <h1 class="clr-white mt-8">{{title}}</h1>
        <p class="mt-8">{{desc}}</p>
        <div class="btn-section is-flex is-wrap col-gap-12">
          <a href="{{shop_product_url}}" class="btn btn-primary btn-rounded mt-24">{{shop_product_button_text}}</a>
          <a href="{{shop_product_url}}" class="btn btn-white btn-rounded mt-24">{{become_member_button_text}}</a>
        </div>
      </div>
    </div>
  </div>
{{/hero_section}}