<section class="page-section clr-bg-700_bg product-before-after-result-section">
  <div class="container">
    {{#before_and_after}}
      <h2 class="text-center">{{title}}</h2>
      <div id="before-after-preview-slider" class="splide before-after-preview-slider mt-32">
        {{>PrevNext}}
        <div class="splide__track">
          <ul class="splide__list">
            {{#image_list}}
                <li class="splide__slide">
                  <img src="{{image}}" alt="before after image">
                </li>
              {{/image_list}}
            </ul>
          </div>
      </div>
    {{/before_and_after}}

    {{#medical_advisor_board}}
      <div class="medical-advisory-board-section page-section-top">
        <h4 class="text-center">{{title}}</h4>
        <div class="row">
          {{#items}}
            <div class="col col-12 col-xs-6 col-sm-4 col-lg-3">
              <div class="advisory-board-card mt-32">
                <div class="image-section">
                  <img src="{{image}}" alt="">
                </div>
                <div class="desc">
                  <h5 class="line-height-1">{{name}}</h5>
                  <p class="trim-2 line-height-1 fs-sm mt-4">{{university}}</p>
                </div>
              </div>
            </div>

          {{/items}}
        </div>
        <div class="medical-advisory-content neumi-d-none">
          <div class="row ">
            {{#hidden_items}}
              <div class="col col-12 col-xs-6 col-sm-4 col-lg-3">
                <div class="advisory-board-card mt-32">
                  <div class="image-section">
                    <img src="{{image}}" alt="">
                  </div>
                  <div class="desc">
                    <h5 class="line-height-1">{{name}}</h5>
                    <p class="trim-2 line-height-1 fs-sm mt-4">{{university}}</p>
                  </div>
                </div>
              </div>

            {{/hidden_items}}
          </div>
        </div>

        <div class="btn-section mt-32">
          <h5 class="clr-primary text-center">
            <span class="medical-advisosry-list-toggle-btn is-pointer">
              <span class="see-all-caption">See all</span>
              <span class="hide-all-caption neumi-d-none">Hide all</span>
            </span>

          </h5>
        </div>
      </div>

    {{/medical_advisor_board}}

  </div><!-- .container -->
</section>