{{#soldInfo}}
  <section class="sold-info-section">
    <div class="container-full">
      <div class="sold-info" style="background-image: url({{image}});">
        <div class="sold-image radius-8">
          <div class="sold-info_content text-center">
            <h4 class="clr-body is-capitalize fw-400">{{title}}</h4>
            <h2 class="clr-primary">{{count}}</h2>
            <h4 class="clr-body fw-400">{{desc}}</h4>
          </div>
        </div>
      </div>
    </div>
  </section>
{{/soldInfo}}