.cp-about-us-section{
  .cp-wrapper{
    width: 1143px;
    margin: auto;
    max-width: 100%;
  }
  .cp-title-section{
    @include media(lg){
      @include flex-width(460px);
    }
  }
  .cp-desc{
    @include media(lg){
      padding-left: 45px;
      @include flex-width(calc(100% - 460px));
    }
    @include media(largeScreen){
      padding-left: 96px;

    }
  }
  .cp-image-section {
    height: 244px;
    @include media(sm){
      height: 300px;
    }
    @include media(lg){
      height: 548px;
    }
  }
}