.#{$prefix}-btn{
  display: inline-block;
  padding: 8px 16px 10px;
  font-weight: 500;
  @include border();
  border-radius: 10px;
  cursor: pointer;
  font-family: inherit;
  letter-spacing: -0.02em;
  text-align: center;
  @include font-size($root_font_size,20px);
  @include media(xs){
    padding: 14px 28px 16px;
    font-size: $root_font_size_lg_device;
  }

  .#{$prefix}-plus-icon{
    svg{
      height:12px;
      width: 12px;
    }
  }
  &.#{$prefix}-btn-border-0{
    border: 0;
  }
  &:hover{
    opacity: 0.9;
  }
}

.#{$prefix}-btn-primary-bg{
  background-color: $primary;
  color: $primary_bg_text_color;
  border-color: $primary;
  &:hover{
    color: $white;
  }

}
.#{$prefix}-btn-white-border{
  background-color: transparent;
  color: $white;
  border-color: $white;
  &:hover{
    color: $white;
  }
}
