.cta-layout-1{
  // neuro page
  padding-bottom: 4rem;
  @include breakpoint-up("lg-tab") {
    padding-top: 150px;
  }
  &.cta-lg{
    .cta-banner-wrapper{
      @include breakpoint-up("sm-desktop") {
        padding-top: 165px;
        padding-bottom: 165px;
      }
    }
    .cta-banner-figure{
      @include breakpoint-up("sm-desktop") {
        right: 75px;
      }
    }
  }

  .cta-banner-wrapper{
    background-color: var(--clr-primary);
    color: var(--clr-white);
    padding: 4rem 2rem;
    position: relative;
    border-radius: 8px;
    @include breakpoint-up("sm-desktop") {
      padding: 5.5rem 50px 5.5rem;
      display: flex;
      flex-wrap: wrap;
    }

  }
  h2{
    font-size: 36px;
  }
  .cta-banner-content{
    @include breakpoint-up("sm-desktop") {
      flex: 0 0 592px;
      max-width: 592px;
    }
  }
  .cta-banner-figure{
    display: none;
    @include breakpoint-up("sm-desktop") {
      display: block;
      position: absolute;
      bottom: 0;
      right: 193px;
    }
  }
  .btn-section{
    .row{
      margin: 0 - 12px;
    }
    .col{
      padding: 0 6px;
    }
    button{
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
  }
}
.cta-layout-2{
  // landing page
  .wrapper{
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
    padding: 0 1.25rem;
    border-radius: 8px;
    @include breakpoint-up("xl-phone"){
      padding: 0 50px;
    }
  }
  .btn-section{
    a{
      flex: 0 0 100%;
      max-width: 100%;
      @include breakpoint-up("xl-phone"){
        flex: initial;
        max-width: initial;
      }
    }
  }
}