{{#cta}}
  <div class="cp-cta-section">
    <div class="cp-container">
      <div class="cp-bg-image cp-default-border-radius cp-image-overlay" style="background-image: url({{image}})">
        <div class="cp-wrapper cp-m-auto cp-position-relative cp-z-index-2">
          <div class="cp-text-white cp-text-center cp-fs-xxl cp-fw-bold cp-secondary-letter-spacing">{{title}}</div>
          <div class="cp-btn-section cp-d-flex cp-justify-center cp-col-gap-3 cp-mt-1 cp-sm-mt-3">
            <button class="cp-btn cp-btn-white-border cp-mt-3 cp-w-full cp-xs-w-fit-content" data-fluid-subscription-checkout="{{product_id}}">
              {{purchase_one_time_text}}
              <span class="cp-ml-2">
                {{chevron_arrow_right_icon}}
              </span>
            </button>
            <button class="cp-btn cp-btn-primary-bg cp-mt-3  cp-w-full cp-xs-w-fit-content" data-fluid-checkout="{{product_id}}">
              {{add_to_subscription_text}}
              <span class="cp-ml-2">
                {{chevron_arrow_right_icon}}
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/cta}}