// Position
.#{$prefix}-position-relative{
  position: relative;
}
.#{$prefix}-position-absolute{
  position: absolute;
}
// positioning: top and left
@for $i from 0 through 15 {
  .#{$prefix}-top-#{$i} {
    top: $i * 1px;
  }
  .#{$prefix}-left-#{$i} {
    left: $i * 1px;
  }
}
