.page-note-section{
  .caption{
    border: 1px solid rgba($primary,0.10);
    padding: 1rem;
  }
}.page-note-bizops {
  padding: 2rem 0;
  .page-note-wrapper {
    padding: 16px;
    border: 1px solid rgba(22, 73, 210, 0.1);
    font-size: 14px;
    color: $root_text_color;
  }
}
