<div class="product-description-section">
  <div class="container">
    <div class="product-wrapper row-gap-32">

      <div class="product-slider">
        <!-- Preview slider -->
        <div id="preview-slider" class="splide preview-slider">
          {{#productSlider}}
            <div class="splide__track">
              <ul class="splide__list">
                {{#items}}
                  <li class="splide__slide">
                    <img
                      src="{{image}}"
                      alt="product"
                      class="w-full"
                    />
                  </li>
                {{/items}}
              </ul>
            </div>
          {{/productSlider}}
        </div>
        <!-- Thumbnail slider -->
        <div id="thumbnail-slider" class="splide thumbnail-slider">
          {{>PrevNext}}
          {{#productSlider}}
            <div class="splide__track">
              <ul class="splide__list">
                {{#items}}
                  <li class="splide__slide">
                    <img
                      src="{{image}}"
                      alt="product"
                    />
                  </li>
                {{/items}}
              </ul>
            </div>
          {{/productSlider}}

        </div>

      </div><!--.product-slider  -->

      <!-- Product Contents -->
      <div class="product-content">
        <div class="product-content_header">
          <h1>{{product_title}}</h1>
          <div class="is-flex is-start is-align-center col-gap-12 mt-8">
            {{>FiveStarRating}}
            <div class="ratings-count text-gray-200 fs-sm">{{total_product_review}}</div>
          </div>

          <div class="mt-20 clr-body">{{{product_desc}}}</div>
        </div>

        <div class="product-content_body" data-fluid-checkout-group="{{product_id}}">

          <div class="select-quantity mt-24">
            <div class="select-title">
              <span class="fw-500 fs-sm">{{select_quantity_text}}</span>
            </div>
            <div class="custom-select mt-6">
              <select id="group-checkout-quantity" class="custom-select w-full">
                <option selected>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
              </select>
            </div>
            <input type="hidden" id="checkout-quantity" name="fluid-checkout-quantity" value="1">
          </div>


          <!-- Subscribe Card -->
          {{#subscribe}}
            <div class="total-price fw-500 mt-24 secondary-text-color fs-sm">{{frequency_text}}</div>

            <div class="subscribe-card mt-6 is-active">
              <div class="subscribe-card_header is-flex is-between is-align-center">
                <div class="custom-radio inline-flex is-align-center pr-4">
                  <input
                    type="radio"
                    id="subscribe"
                    name="fluid-checkout-subscribe"
                    value="subscription"
                    checked
                  />
                  <label for="subscribe" class="clr-body">{{subscribe_text}}</label>
                </div>
                <div class="is-flex is-end is-align-center col-gap-12 line-height-initial price_container is-hide">
                  <span id="crossed_onetime_price" class="is-strike secondary-text-color fw-500">${{actual_price}}</span>
                  <span class="fw-600 clr-primary fs-largeScreen-lg" id="subscribe_price">${{discounted_price}}</span>
                </div>
              </div>

              <div class="subscribe-card_body">
                <ul class="subscribe-features check-list is-flex is-start dir-column gap-4">
                  {{#checklist_items}}
                    <li class="is-flex is-start is-align-start col-gap-12 secondary-text-color fw-500">
                      {{>CheckIcon}}
                      <span>{{{caption}}}</span>
                    </li>
                  {{/checklist_items}}
                </ul>
              </div>
            </div>

            <div class="subscribe-card_footer is-flex is-between is-align-center mt-12">
              <div class="custom-radio inline-flex is-align-center">
                <input
                  type="radio"
                  id="onetime_order"
                  name="fluid-checkout-subscribe"
                />
                <label for="onetime_order" class="clr-body">{{one_time_purchase_text}}</label>
              </div>
              <div class="is-flex is-end is-align-center col-gap-16 price_container is-hide">
                <span class="fw-600 clr-body" id="onetime_order_price">${{actual_price}}</span>
              </div>
            </div>
          {{/subscribe}}

          <div class="btn-section mt-20">
            <button
              class="btn btn-rounded w-full text-center btn-primary"
              data-fluid-checkout-group-id="{{product_id}}"
              id="add_to_cart"
            >
              {{>CartSvg}}
             {{add_to_cart_text}}
            </button>
            <p class="mt-8 fs-sm">{{free_shipping_desc}}</p>
          </div>

          {{#benefits}}
            <div class="product-content_dsc mt-24">
              <h4>{{title}}</h4>
              <ul class="product-content_dsc--list pl-24 mt-8">
                {{#items}}
                  <li>{{caption}}</li>
                {{/items}}
              </ul>
            </div>
          {{/benefits}}
        </div>
      </div>

    </div><!--.product-wrapper-->
  </div><!--.container-->
</div>
