
.#{$prefix}-feature-post{
  .#{$prefix}-desc{
    @include media(lg){
      padding-left: 60px;
    }
    @include media(largeScreen){
      padding-left: 112px;
    }
  }
}
.#{$prefix}-service-post{
  .#{$prefix}-image-section{
    height: 112px;
    border-radius: 10px;
    @include padding(0,26px,27px,36px);
    @include media(xs){
      height: 250px;
      border-radius: 16px;
      padding-bottom: 30px;
    }
    @include media(lg){
      height: 300px;
      border-radius: 25px;
    }
    @include media(largeScreen){
      height: 414px;
      border-radius: 40px;
      padding-bottom: 60px;
    }
  }
  .cp-desc{
    @include media(sm){
      width: 320px;
    }
  }
  .cp-icon-section{
    .cp-icon-wrapper{
      width: 34px;
      margin: auto;
      @include media(sm){
        width: 44px;
      }
      @include media(largeScreen){
        width: 56px;
      }
    }
  }
}