.cp-btn{
  display: inline-block;
  padding: 14px 28px 16px;
  font-weight: 500;
  line-height: 20px;
  @include border();
  border-radius: 10px;
  cursor: pointer;
  font-family: inherit;
  letter-spacing: -0.02em;
  text-align: center;
  font-size: 1rem;
  .cp-plus-icon{
    svg{
      height:12px;
      width: 12px;
    }
  }
}

.cp-btn-primary-bg{
  background-color: $primary;
  color: $primary_bg_text_color;
  border-color: $primary;
}
.cp-btn-white-border{
  background-color: transparent;
  color: $white;
  border-color: $white;
}
