.#{$prefix}-product-feature-item-style-1{
  .#{$prefix}-icon-section{
    @include flex-width(28px);
    @include media(sm){
      @include flex-width(36px);
    }
  }
  .#{$prefix}-item-desc{
    padding-left: 16px;
    @include flex-width(calc(100% - 28px));
    @include media(sm){
      padding-left: 30px;
      @include flex-width(calc(100% - 36px));
    }
  }
}
.#{$prefix}-product-feature-section,
.#{$prefix}-feature-product-post{
  .#{$prefix}-desc{
    @include media(sm){
      padding-left: 60px;
    }
    @include media(lg){
      padding-left: 112px;
    }
  }
}
