.reviews {
  &-header {
    .btn.btn-white {
      color: var(--clr-primary);
    }
  }
  &-pagination {
    border: 1px solid var(--clr-border);
    margin-inline: auto;
    %page-circle {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-weight: 600;
      transition: background-color 0.5s ease-in-out;
    }
    .page-next {
      img {
        @include transform(rotate(-180deg));
      }
      border-top-right-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
      border-left: 1px solid var(--clr-border);
    }
    .page-prev {
      border-top-left-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem;
      border-right: 1px solid var(--clr-border);
    }
    .page-next,
    .page-prev {
      @extend %page-circle;
      &:hover {
        background-color: var(--clr-white);
      }
    }
    .page-numbers {
      a {
        background-color: var(--clr-bg-800);
        @extend %page-circle;
        color: var(--clr-body-600);

        &:not(:last-child) {
          border-right: 1px solid var(--clr-border);
        }
        &.is-active,
        &:hover {
          background-color: var(--clr-white);
        }
      }
    }
  }
  &-list {
    li {
      grid-template-rows: 1fr;
      padding: 2rem 0;
      &:last-child {
        padding-bottom: 0;
      }
      .reviewer {
        margin-bottom: 1rem;
      }
      @include breakpoint-up("md-tab") {
        grid-template-columns: 1fr 1fr;
        .reviewer {
          margin: 0;
        }
        &:last-child {
          padding-bottom: 2rem;
        }
      }

      &:not(:last-child) {
        border-bottom: 1px solid var(--clr-border);
      }
    }
  }
}
