@import 'as-seen',
        'tab';

.tab-slider,
.key-ingredients-slider{
  @include breakpoint-up("xl-tab") {
    display: block;
    .splide__arrow {
      background-color: transparent;
      &--prev {
        left: -2.5rem;
      }
      &--next {
        right: -2.5rem;
      }
      &:hover {
        background-color: var(--clr-white);
      }
    }
  }
}