.tab-slider {
  @include breakpoint-up("xl-tab") {
    display: block;
    .splide__arrow {
      background-color: transparent;
      &--prev {
        left: -2.5rem;
      }
      &--next {
        right: -2.5rem;
      }
      &:hover {
        background-color: var(--clr-white);
      }
    }
  }
  .splide__list {
    height: unset;
    .splide__slide {
      figure {
        margin: 0;
        position: relative;
        height: 370px;
      }
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 0.5rem;
      }
    }
  }
}