{{#cta}}
  <section class="cta-banner mt-60">
    <div class="cta-banner_container pt-60">
      <div class="cta-banner_wrap">
        <div class="cta-banner_content">
          <h2 class="clr-white">{{title}}</h2>
          <div
            class="btns mt-32 is-flex is-start is-align-center gap-16 is-wrap"
          >
            <button
              class="btn btn-white btn-rounded"
              data-fluid-subscription-checkout="{{product_id}}"
            >
             {{subscription_text}}
            </button>
            <button
              class="btn btn-border btn-border_white btn-rounded"
              data-fluid-checkout="{{product_id}}"
            >
              {{purchase_text}}
            </button>
          </div>
        </div>
        <div class="cta-banner_figure">
          <img
            src="{{image}}"
            alt="cta support"
          />
        </div>
      </div>
      <div class="page-note">
        <div class="cta-banner_container">
          <span>{{note_desc}}</span>
        </div>
      </div>
    </div>
  </section>
{{/cta}}
