{{#work_life_balance}}
  <div class="cp-work-life-balance-section cp-page-section cp-text-center">
    <div class="cp-container cp-sm">
      <div class="cp-xs-pl-8 cp-xs-pr-8">
        <h2 class="cp-m-0 cp-pl-6 cp-pr-6 cp-sm-p-0">{{title}}</h2>
        <p class="cp-mb-0 cp-mt-4 cp-sm-mt-8">{{desc}}</p>
        <div class="cp-btn-section cp-mt-4 cp-sm-mt-8">
          <a class="cp-btn cp-btn-primary-bg cp-w-full cp-xs-w-fit-content" href="{{learn_more_url}}">
            {{learn_more_text}}
            <span class="cp-ml-2">
              {{{chevron_arrow_right_icon}}}
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
{{/work_life_balance}}