// @mixin flex-width($width){

// }
.container,
.container-full,
.container-md {
  width: 100%;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
  margin-right: auto;
  margin-left: auto;
  @include breakpoint-up("md-tab") {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}
.container-full {
  padding-right: 1.25rem;
  padding-left: 1.25rem;
  @include breakpoint-up("md-tab") {
    padding: 0 2.5rem;
  }
}

@media (min-width: 576px) {
  .container-sm,
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container-md,
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container-md,
  .container {
    max-width: 980px;
  }
}

@media (min-width: 1200px) {
  .container-md,
  .container {
    max-width: 1160px;
  }
}

@media (min-width: 1366px) {
  .container {
    max-width: 1200px;
  }
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.row{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.col{
  padding-left: 15px;
  padding-right: 15px;
}
.col-12{
  flex: 0 0 100%;
  max-width: 100%;
}
.col-xs-6{
  @include breakpoint-up("xl-phone") {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
.col-sm-4{
  @include breakpoint-up("md-tab") {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
}

.col-sm-6{
  @include breakpoint-up("md-tab") {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
.col-sm-8{
  @include breakpoint-up("md-tab") {
    flex: 0 0 66.66%;
    max-width: 66.66%;
  }
}
.col-lg-3{
  @include breakpoint-up("lg-tab") {
    flex: 0 0 25%;
    max-width: 25%;
  }
}
.col-lg-4{
  @include breakpoint-up("lg-tab") {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
}
.col-lg-6{
  @include breakpoint-up("lg-tab") {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
.col-lg-8{
  @include breakpoint-up("lg-tab") {
    flex: 0 0 66.66%;
    max-width: 66.66%;
  }
}
.col-lg-9{
  @include breakpoint-up("lg-tab") {
    flex: 0 0 66.67%;
    max-width: 66.67%;
  }
}
.col-lg-12{
  @include breakpoint-up("lg-tab") {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.w-820{
  width: 820px;
  max-width: 100%;
}