.cp-masonary-product-section{

  .cp-image-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 132px;
    @include media(xs){
      height: 284px;
    }
  }
  .cp-product-title{
    position: relative;
    z-index: 2;
    a{
      width: 100%;
      color: #fff;
      padding: 0 20px 24px;
      @include media(sm){
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 42px 30px 33px;
      }
      &:hover{
        opacity: 0.9;
      }
    }
    span{
      display: block;
      @include media(sm){
        display: inline-block;
      }
    }
    .cp-arrow-icon-box{
      margin-top: 12px;
      @include media(sm){
        margin-top: 0;
      }
    }
  }
  .cp-product-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    @include media(xs){
      gap: 34px;
    }
    @include media(lg){
      grid-template-columns: repeat(3, 1fr);
    }
    .cp-image-section{
      &:nth-child(1){
        grid-row: span 2;
          height: 268px;
          @include media(xs){
            height: 602px;
          }
      }
      &:last-child{
        grid-column: span 2;
        @include media(lg){
          grid-column: span 1;
        }
      }
    }
  }
}
.cp-default-border-radius{
  border-radius: 16px;
  &:before{
    border-radius: inherit;
  }
  @include media(sm){
    border-radius: 40px;
  }
}
