@import 'masonary';
@import 'trusted-partner';
.cp-video-section{
  .cp-image-section{
    height: 233px;
    @include media(sm){
      height: 862px;
    }
  }
}
.cp-hero-section{
  .cp-wrapper{
    width: 275px;
    max-width: 100%;
    padding: 200px 0 38px;
    @include media(sm){
      padding: 242px 0 70px;
      width: 500px;
    }
  }
  .cp-btn-section{
    .cp-btn-wrapper{
      @include media(sm){
        flex: auto;
      }
    }
  }
}