.#{$prefix}-video-section{
  .#{$prefix}-image-section{
    height: 233px;
    @include media(sm){
      height: 350px;
    }
    @include media(sm){
      height:500px;
    }
    @include media(lg){
      height: 650px;
    }
  }
}
