@import 'variables';
@import "../../commonAssets/stylesheets/share";
@import 'typography';
.masonary-product-section{
  .image-section{
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .lg-image{
    height: 750px;
  }
  .sm-image{
    height: 360px;
  }
  .product-title{
    a{
      padding: 18px 24px;
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      color: #fff;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      &:hover{
        opacity: 0.9;
      }
    }
  }
}
.product-style-1 {
  .wrapper{
    width: 520px;
  }
  h2{
    font-size: 30px;
  }
  img{
    max-height: 720px;
  }
}
.bg-image{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.page-note-section{
  .caption{
    border: 1px solid rgba($primary,0.10);
    padding: 1rem;
  }
}
.product-before-after-result-section{
  .before-after-preview-slider{
    padding: 0 20px;
    @include breakpoint-up("xl-phone"){
      padding: 0;
    }
    .splide__arrow{
      background-color: transparent;
    }
    .splide__arrow--prev{
      left: -15px;
      @include breakpoint-up("xl-phone"){
        left: -32px;
      }
    }
    .splide__arrow--next{
      right: -15px;
      @include breakpoint-up("xl-phone"){
        right: -32px;
      }
    }
  }
}
.advisory-board-card{
  display: flex;
  flex-wrap: wrap;
  .image-section{
    flex: 0 0 54px;
    max-width: 54px;
    img{
      border-radius: 100%;
    }
  }
  .desc{
    flex: 0 0 calc(100% - 54px);
    max-width: calc(100% - 54px);
    padding-left: 8px;
  }
}

.neumi-d-none{
  display: none;
}