{{#feature_product_2}}
  <div class="cp-feature-product-post cp-page-section-md cp-bg-white-smoke">
    <div class="cp-container">
      <div class="cp-d-flex cp-align-center">
        <div class="cp-col-12 cp-col-sm-6">
          <div class="cp-image-section cp-bg-image cp-default-border-radius cp-image-h-md" style="background-image: url({{image}})">
          </div>
        </div><!-- .cp-col -->

        <div class="cp-col-12 cp-col-sm-6">
          <div class="cp-desc cp-mt-7 cp-sm-mt-0 cp-desc-left">
            <div class="cp-category-section">
              <span class="cp-category-tag">{{category}}</span>
            </div>
            <h3 class="cp-mt-3 cp-mb-0">{{title}}</h3>
            <p class="cp-mt-2 cp-sm-mt-4 cp-mb-0">{{desc}}</p>
            <div class="cp-btn-section cp-mt-4 cp-sm-mt-6">
              <a class="cp-btn cp-btn-primary-bg cp-w-full cp-xs-w-fit-content" hrfe="{{url}}">{{btn_text}}</a>
            </div> <!-- .cp-btn-section -->
          </div><!-- .cp-desc -->
        </div><!-- .cp-col -->
      </div><!-- .cp-row -->
    </div><!-- .cp-container -->
  </div><!-- .cp-product-post -->
{{/feature_product_2}}