{{#hassle_free_subscription}}
  <div class="cp-free-subscription-section cp-page-section cp-text-center">
    <div class="cp-container">
      <h2 class="cp-m-0 cp-pl-6 cp-pr-6 cp-sm-p-0">{{title}}</h2>
      <p class="cp-mt-4 cp-sm-mt-8 cp-mb-0 cp-pl-3 cp-pr-3 cp-sm-p-0">{{desc}}</p>
      <div class="cp-btn-section cp-mt-4 cp-sm-mt-8">
        <a class="cp-btn cp-btn-primary-bg cp-w-full cp-xs-w-fit-content" href="{{sign_up_url}}" target="_blank">
          {{sign_up_text}}
          <span class="cp-ml-2">
            {{{chevron_arrow_right_icon}}}
          </span>
        </a>
      </div>
    </div>
  </div>
{{/hassle_free_subscription}}