body{
  font-family: $root_font;
  font-weight: 400;
  color: $root_text_color;
  font-size: 16px;
  h1,h2,h3,h4,h5{
    font-family: $root_font;
  }
  h1,h2,h3,h4,h5{
    color: $heading_text_color;
    font-weight: $heading_font_weight;
  }
  h1{
    font-size: 36px;
  }
  h2{
    font-size: 32px;
  }
  h3{
    font-size: 24px;
  }
  h4{
    font-size: 20px;
  }
  h5{
    font-size: 16px;
  }
  .fs-sm{
    font-size: 14px;
  }
  .fs-md{
    font-size: 18px;
  }
  .fs-lg{
    font-size: 20px;
  }
  .fs-xl{
    font-size: 24px;
  }
}