html {
  font-size: 16px;
}

:root {
  --base-fs: 16;
  //font family

  --ff-body: "Inter", sans-serif;

  //font size
  --fs-sm: 0.75rem;
  --fs-md: 0.875rem;
  --fs-body: 1rem;
  --fs-lg: 1.125rem;
  --fs-h5: 1rem;
  --fs-h4: 1.125rem;
  --fs-h3: 1.5rem;
  --fs-h2: 2rem;
  // --fs-h1: 3.5rem;
  --fs-h1: clamp(2.18rem, calc(1.93rem + 1.8vw), 3.5rem);
  @include breakpoint-up("md-tab") {
    --fs-h4: 1.375rem;
    --fs-h3: 2rem;
    --fs-h2: 3.5rem;
    // --fs-h1: 3.5rem;
    --fs-h1: clamp(2.18rem, calc(1.93rem + 1.8vw), 3.5rem);
  }
}
#asea-landing_page {
  font-family: var(--ff-body);
  font-size: 14px;
  font-weight: 300;
  line-height: 1.75;
  color: var(--clr-body-700);
  padding: 1.5rem 0;
  background-color: var(--clr-white);
  @include breakpoint-up("xl-phone"){
    font-size: var(--fs-body);
  }
  @include breakpoint-up("md-tab") {
    padding: 3rem 0;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: normal;
  }

  .fs-sm {
    font-size: var(--fs-sm);
    line-height: 1.2;
  }
  .fs-md {
    font-size: var(--fs-md);
    line-height: 1.57;
  }
  .fs-lg {
    font-size: var(--fs-lg);
    line-height: 1.55;
  }
  h4,
  .fs-h4 {
    font-size: 18px;
    font-weight: 600;
    @include breakpoint-up("xl-phone"){
      font-size: var(--fs-h4);
    }
  }
  h3,
  .fs-h3 {
    font-size: 22px;
    line-height: 1.18;
    font-weight: 600;
    @include breakpoint-up("xl-phone"){
      font-size: var(--fs-h3);
    }
  }

  .fs-h2,
  h2 {
    font-size: 24px;
    line-height: 1.217;
    font-weight: 600;
    @include breakpoint-up("xl-phone"){
      font-size: 28px;
    }
    @include breakpoint-up("xl-tab"){
      font-size: var(--fs-h2);
    }
  }
  h1,
  .fs-h1 {
    font-size: var(--fs-h1);
    line-height: 1.217;
    font-weight: 600;
  }
  a{
    &:hover{
      color: var(--clr-primary)
    }
  }
}
