.select-variant {
  &_images {
    &-image {
      border: 1px solid transparent;
      border-radius: 3px;
      height: 70px;
      width: 70px;
      flex-shrink: 0;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 3px;
      }
      &.is-active {
        border-color: var(--clr-primary);
      }
    }
  }
  .btn {
    &-border {
      height: 44px;
      min-width: 132px;
      &.is-active {
        border-color: var(--clr-primary);
        color: var(--clr-primary);
        font-weight: 600;
      }
    }
  }
}
