body{
  margin: 0;
  font-family: "Lexend";
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #626262;
  h1,h2,h3,h4,h5{
    letter-spacing: -0.05em;
    margin: 0;
    color: #000;
    .cp-text-white{
      color: white;
    }
  }
  h1,
  .cp-fs-xxl{
    font-size: 38px;
    line-height: 44px;
  }
  .cp-fs-xxl{
    letter-spacing: -0.05em;
  }
  h2{
    font-size: 32px;
    line-height: 1.2;
    font-weight: 500;
  }
  h3{
    font-size: 24px;
    font-weight: 400;
  }
  a{
    text-decoration: none;
  }
  .cp-fw-medium{
    font-weight: 500;
  }
  .cp-fw-semi-bold{
    font-weight: 600;
  }
  .cp-fw-bold{
    font-weight: bold;
  }
  p{
    line-height: 20px;
  }
  .cp-fs-md{
    font-size: 20px;
  }
  .cp-line-height-16x{
    line-height: 32px;
  }
}