


.cp-product-feature-post{
  padding: 24px 32px;
  @include media(xs){
    padding: 60px 40px;
  }
}
.#{$prefix}-product-feature-item-style-1{
  .#{$prefix}-icon-section{
    @include flex-width(28px);
    @include media(sm){
      @include flex-width(36px);
    }
  }
  .#{$prefix}-item-desc{
    padding-left: 16px;
    @include flex-width(calc(100% - 28px));
    @include media(sm){
      padding-left: 30px;
      @include flex-width(calc(100% - 36px));
    }
  }
}
.cp-product-benefits-section{
  .cp-desc-wrapper{
    width: 1020px;
  }
  .cp-image-section{
    img{
      max-height: 250px;
      @include media(xs){
        max-height: 350px;
      }
      @include media(sm){
        max-height: 680px;

      }
    }
  }
  .#{$prefix}-desc{
    @include media(md){
      padding-left: 44px;
    }
    @include media(lg){
      padding-left: 60px;
    }
    @include media(largeScreen){
      padding-left: 112px;
    }
  }
}
.cp-ingredients-item{
  .cp-image-section{
    img{
      @include box-size(80px,80px);
      border-radius: 16px;
      @include media(sm){
        @include box-size(123px,123px);
      border-radius: 26px;
      }
    }
  }

}
.cp-how-to-use-steps-item{
  padding: 24px 0;
  @include border-top();
  border-color: #D8D8D8;
  @include media(sm){
    padding: 32px 0;
  }
  &:last-child{
    @include border-bottom();
  }
  .cp-step-count-section{
    @include flex-width(40px);
    @include media(sm){
      @include flex-width(60px);
    }
    @include media(largeScreen){
      @include flex-width(80px);
    }
  }
  .cp-step-count{
    border-radius: 100%;
    @include border();
    color: $primary;
    border-color: $primary;
    font-weight: 200;
    font-size: 16px;
    @include box-size(40px,40px);
    @include media(sm){
      font-size: 26px;
      @include box-size(60px,60px);
      @include border(2px,solid);
    }
    @include media(largeScreen){
      font-size: 36px;
      @include box-size(80px,80px);
    }
  }
  .cp-step-desc{
    letter-spacing: -0.05em;
    color: $black;
    font-size: 18px;
    padding-left: 24px;
    @include flex-width(calc(100% - 40px));
    @include media(sm){
      font-size: 20px;
      padding-left: 32px;
      @include flex-width(calc(100% - 60px));
    }
    @include media(largeScreen){
      font-size: 24px;
      padding-left: 60px;
      @include flex-width(calc(100% - 80px));
    }
  }
}
.cp-note{
  @include border();
  border-color: #D9D9D9;
  border-radius: 20px;
  padding: 24px;
  @include media(sm){
    padding: 20px 48px;
  }
}
