
.cp-product-thumbnail-slider{
  .cp-slider-item{
    &.is-active{
      border: 2px solid $primary !important;
      border-radius: 10px;
      img{
        border-radius: 6px;
      }
    }
  }

}
.cp-product-preview-slider{
  max-width: 550px;
  margin: auto;
}
.cp-product-desc{
  padding-left: 112px;
  .cp-subscribe-card,
  .cp-one-time-purchase-card{
    border-color: #F8FBFF;
    @include border();
    border-radius: 16px;
    &.active{
      border-color: $primary;
    }
  }
  .cp-subscribe-card{
    @include padding(20px,32px,32px,32px);
  }
  .cp-items-list{
    .cp-icon{
      @include flex-width(20px);
      position: relative;
      top: -1px;
    }
    .cp-caption{
      @include flex-width(calc(100% - 20px));
      padding-left: 12px;
    }
  }
  .cp-one-time-purchase-card{
    background-color: #F8FBFF;
    padding: 8px 32px 20px;
  }
}


.cp-product-feature-post{
  padding: 60px 40px;
  border-color: #EBEBEB;
}
.#{$prefix}-product-feature-item-style-1{
  .#{$prefix}-icon-section{
    @include flex-width(28px);
    @include media(sm){
      @include flex-width(36px);
    }
  }
  .#{$prefix}-item-desc{
    padding-left: 16px;
    @include flex-width(calc(100% - 28px));
    @include media(sm){
      padding-left: 30px;
      @include flex-width(calc(100% - 36px));
    }
  }
}
.cp-product-benefits-section{
  .cp-desc-wrapper{
    width: 1020px;
  }
  .cp-image-section{
    height: 680px;
  }
  .#{$prefix}-desc{
    @include media(sm){
      padding-left: 44px;
    }
    @include media(lg){
      padding-left: 60px;
    }
    @include media(largeScreen){
      padding-left: 112px;
    }
  }
}
.cp-quantity-section{
  width: 134px;
  height: 40px;
  display: flex;
  justify-content: center;
  border: 1px solid $primary;
  border-radius: 8px;
  button{
    height: 38px;
    width: 30px;
    line-height: 38px;
    padding: 0;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    &:hover{
      background-color: red;
    };
  }
  input{
    width: 30px;
    height: 38px;
    line-height: 38px;
    border: 0;
    padding: 0;
    text-align: center;
    -webkit-appearance: none;
  }
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// /* Firefox */
// input[type=number] {
//   -moz-appearance: textfield;
// }