$primary: #2079FF;
$primary_bg_text_color: #fff;
$white: #fff;
$black: #000;
$white_smoke: #F8F8F8;
@import '../../stylesheets/share';
@import 'button';
@import 'masonary-product';
@import 'components';
body{
  margin: 0;
  font-family: "Lexend";
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #626262;

  h1,h2,h3,h4,h5{
    letter-spacing: -0.05em;
    margin: 0;
    color: #000;
    .cp-text-white{
      color: white;
    }
  }
  h1,
  .cp-fs-xxl{
    font-size: 38px;
    line-height: 44px;
  }
  .cp-fs-xxl{
    letter-spacing: -0.05em;
  }
  h2{
    font-size: 32px;
    line-height: 1.2;
    font-weight: 500;
  }
  h3{
    font-size: 24px;
    font-weight: 400;
  }
  a{
    text-decoration: none;
  }
  .cp-fw-medium{
    font-weight: 500;
  }
  .cp-fw-semi-bold{
    font-weight: 600;
  }
  .cp-fw-bold{
    font-weight: bold;
  }
  p{
    line-height: 20px;
  }
  .cp-fs-md{
    font-size: 20px;
  }
  .cp-line-height-16x{
    line-height: 32px;
  }
}
.cp-h-full{
  height: 100%;
}
.cp-border-radius-40{
  border-radius: 40px;
}
.cp-page-section{
  padding: 96px 0;
}
.cp-page-section-md{
  padding: 74px 0;
}
.cp-page-top-section{
  padding-top: 96px;
}
.cp-page-bottom-section{
  padding-bottom: 96px;
}
.#{$prefix}-container{
  width: 1110px;
  padding: 0 30px;
  margin: auto;
  max-width: 100%;
  @include media(xs){
    padding: 0 60px;
  }
  @include media(sm){
    padding: 0 30px;
  }
  @include media(largeScreen){
    padding: 0 15px;
  }
}
.cp-bg-image,
.cp-bg-image{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.cp-bg-white-smoke{
  background-color: $white_smoke;
}
.cp-image-h-md{
  height: 435px;
}
.cp-text-white{
  color: white;
}
.cp-text-black{
  color: $black;
}
.#{$prefix}-banner-layout-1{
  position: relative;
  &:before{
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: inline-block;
    background-color: rgba(0,0,0,0.52);
    z-index: 1;
  }
  &.cp-border-radius-40{
    &:before{
      border-radius: 40px;
    }
  }
  
  h1{
    line-height: 44px;
  }
  .cp-wrapper{
    height: 500px;
    width: 500px;
    max-width: 100%;
    z-index: 2;
  }
}
.cp-image-overlay{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(0,0,0,0.52);
  // background: linear-gradient(0deg, #FFFFFF, #FFFFFF),linear-gradient(179.81deg, rgba(0, 0, 0, 0) 49.86%, rgba(0, 0, 0, 0.4) 99.83%);
  z-index: 1;
  border-radius: 40px;
}
