@import 'variables';
@import "../../common_assets/stylesheets/share";
@import 'typography';

.page-note-section{
  .caption{
    border: 1px solid rgba($primary,0.10);
    padding: 1rem;
  }
}
.price-color{
  color: #158C2D;
}
.shop-banner{
  background-image: url('https://cdn.fluid.app/neumi/shop/images/banner_bg_mobile.png');
  &::before{
    content: none;
  }
  @include breakpoint-up(lg-tab){
    background-image: url('https://cdn.fluid.app/neumi/shop/images/banner_bg_web.jpeg');
  }
}
.multiple-product-list{
  .image-section{
    height: 200px;
    overflow: hidden;
    @include breakpoint-up("xl-phone"){
      height: 280px;
    }
    img{
      transition: all 0.5s linear;
      @include transition(all 0.5s ease);
      &:hover{
        transform: scale(1.1);
        @include transform(scale(1.1));
      }
    }
  }
}
