%reset-ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
%bg-cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
%display-flex {
  display: flex;
  flex-wrap: wrap;
}
%fw-medium{
  font-weight: $font_medium;
}