.acc-item {
  background-color: var(--clr-white);
  border-bottom: 1px solid var(--clr-border);
  &_header {
    padding: 1.5rem 0;
    color: var(--clr-body);
    align-items: center;
    cursor: pointer;
    .acc-item_toggle {
      flex: 0 0 50px;
    }
    svg {
      cursor: pointer;
      flex: 0 0 50px;
      &.minus-icon {
        display: none;
      }
      &.plus-icon {
        display: block;
      }
    }
  }
  &_body {
    overflow: hidden;
    height: 0;
    opacity: 0;
    will-change: max-height;
    transition: all 0.25s ease-out;
    padding-right: 2.5rem;
  }
  &_active {
    .acc-item_header {
      svg {
        &.plus-icon {
          display: none;
        }
        &.minus-icon {
          display: block;
        }
      }
    }
    .acc-item_body {
      opacity: 1;
      overflow: unset;
      height: initial;
      padding-bottom: 1.5rem;
    }
  }
  &:first-child {
    border-top: 1px solid var(--clr-border);
  }
}
