@import 'variables';
@import '../../../../global/master';
@import "../../share";
@import 'typography';

.key-ingredients-section{
  .key-note{
    width: 900px;
    max-width: 100%;
    margin: auto;
  }
}