@import 'projects/neumi/pages/landing/variables';
@import 'global/master';
@import 'projects/neumi/share';
@import 'projects/neumi/pages/landing/typography';

.masonary-product-section{
  .image-section{
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .lg-image{
    height: 750px;
  }
  .sm-image{
    height: 360px;
  }
  .product-title{
    a{
      padding: 18px 24px;
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      color: #fff;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      &:hover{
        opacity: 0.9;
      }
    }
  }
  .bg-image-customize-position{
    @include breakpoint-up("xl-phone"){
      background-position-y: -90px;
    }
    @include breakpoint-up("md-tab"){
      background-position-y: -200px;
    }
    @include breakpoint-up("lg-tab"){
      background-position-y: -135px;
    }
    @include breakpoint-up("sm-desktop"){
      background-position-y: -235px;
    }
  }
}
.product-style-1 {
  .wrapper{
    width: 520px;
  }
  h2{
    font-size: 30px;
  }
  img{
    max-height: 720px;
  }
}
