{{#cta}}
  <div class="cta-section cta-layout-2 page-section clr-bg-700_bg">
    <div class="container">
      <div class="wrapper bg-image image-section overlay overlay-rounded-8" style="background-image: url({{image}});">
        <div class="desc-wrapper">
          <h2 class="clr-white">{{title}}</h2>
          <div class="btn-section is-flex is-wrap col-gap-12 mt-8">
            <span class="btn btn-primary btn-rounded mt-24 shop-product-button">{{shop_product_button_text}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/cta}}