{{#cta}}
  <section class="cta-section cta-layout-2 page-section clr-bg-700_bg">
    <div class="container">
      <div class="wrapper bg-image image-section overlay overlay-rounded-8" style="background-image: url({{image}})">
        <div class="desc-wrapper">
          <h2 class="clr-white">{{title}}</h2>
          <div class="btn-section is-flex is-wrap col-gap-12 mt-8">
            <a href="{{shop_product_url}}" class="btn btn-primary btn-rounded mt-24">{{shop_product_button_text}}</a>
            <a href="{{become_member_url}}" class="btn btn-white btn-rounded mt-24">{{become_member_button_text}}</a>
          </div>
        </div>
      </div>
    </div>
  </section>
{{/cta}}
