{{#guarantee}}
  <section class="product-post product-style-1 is-flex is-wrap overlay-animation">
    <div class="col-12 col-lg-6">
      <div class="image-section">
        <img src="{{image}}" alt="product">
        <div class="overlay overlay-{{image_position}}"></div>
      </div>
    </div>
    <div class="col-12 col-lg-6 desc clr-bg-700_bg">
      <div class="wrapper">
        <h2>{{title}}</h2>
        <p class="mt-28 clr-body">{{{desc}}}</p>
        <div class="feature-item-list">
          {{#items}}
          <div class="product-feature-item product-feature-item-style-1 mt-32">
            <div class="icon-section">
              {{{icon}}}
            </div><!--.icon-section-->

            <div class="desc pl-20">
              <h4>{{title}}</h4>
              <p class="mt-16">{{desc}}</p>
            </div>
          </div><!--.product-feature-item-style-1-->
          {{/items}}
        </div><!--.feature-item-list-->
      </div>
    </div><!--.desc-->
  </section>
{{/guarantee}}

{{#performance}}
  <section class="product-post product-style-1 is-flex is-wrap overlay-animation">
    <div class="col-12 col-lg-6 {{image_ordering_class}}">
      <div class="image-section">
        <img src="{{image}}" alt="product">
        <div class="overlay overlay-{{image_position}}"></div>
      </div>
    </div>
    <div class="col-12 col-lg-6 desc clr-bg-700_bg {{desc_ordering_class}}">
      <div class="wrapper">
        <h5>{{title_sm}}</h5>
        <h2>{{title}}</h2>
        <p class="mt-32 clr-body">{{{desc}}}</p>
        <div class="btn-section mt-32">
          <a href="{{url}}" class="btn btn-primary btn-rounded">{{button_text}}</a>
        </div>
      </div>
    </div><!--.desc-->
  </section>
{{/performance}}