{{#masonary_section}}
  <section class="masonary-product-section page-section">
    <div class="container">
      <h2>{{title}}</h2>
      <p class="clr-body mt-12">{{desc}}</p>
      {{#masonary_product_layout1}}
      <div class="product-list">
        <div class="row">

          <div class="col col-12 col-lg-4">
            <div class="image-section lg-image bg-image mt-30" style="background-image: url({{vertical_image}});">
            </div>
          </div>

          <div class="col col-12 col-lg-8">
            <div class="row">
              {{#items}}
              <div class="col col-12 col-xs-6 mt-30">
                <div class="image-section bg-image sm-image {{image_position}}" style="background-image: url({{image}});">
                  <h4 class="product-title">
                    <a href="{{url}}" {{{bg_color}}}>
                      <span>{{product_name}}</span>
                      <div class="icon">{{{arrow}}}</div>
                    </a>
                  </h4>
                </div>
              </div>
              {{/items}}
            </div><!-- .row -->

          </div><!-- .col col-12 col-lg-4 -->

        </div><!-- .row -->
      </div><!-- .product-list -->
      {{/masonary_product_layout1}}

      {{#masonary_product_layout2}}
      <div class="product-list neumi-d-none">
        <div class="row">

          <div class="col col-12 col-lg-8">

            <div class="image-section bg-image sm-image mt-30" style="background-image: url({{horizontal_image}})">
            </div>

            <div class="row">
              {{#items}}
              <div class="col col-12 col-xs-6 mt-30">
                <div class="image-section bg-image sm-image bg-image-top" style="background-image: url({{image}})">
                  <h4 class="product-title">
                    <a href="{{url}}" {{{bg_color}}}>
                      <span>{{product_name}}</span>
                      <div class="icon">{{{arrow}}}</div>
                    </a>
                  </h4>
                </div>
              </div>
              {{/items}}
            </div><!-- .row -->

          </div><!-- .col col-12 col-lg-8-->

          <div class="col col-12 col-lg-4">
            <div class="image-section lg-image bg-image mt-30" style="background-image: url({{vertical_image}})">
            </div>
          </div>

        </div><!-- .row -->
      </div><!-- .product-list -->
      {{/masonary_product_layout2}}

      <div class="btn-section mt-32 text-center">
        <a href="{{shop_product_url}}" class="btn btn-primary btn-rounded">{{see_all_product_button_text}}</a>
      </div>


    </div> <!-- .container -->
  </section>
{{/masonary_section}}