$clr-body: #000000;
$clr-body-900: #4d4f53;
$clr-body-800: #323232;
$clr-body-700: #403e3e;
$clr-body-600: #67747e;
$clr-body-500: #bfbbba;
$clr-body-400: #ede9e6;
$clr-body-300: #f7f7f8;
$clr-body-200: #ededed;
$clr-body-100: #f4f2f1;
$clr-gray-0: #E9EBF1;
$clr-gray-200: #999FB5;
$clr-white-100: #F9FAFE;
$border: #e1e1e1;
$red: #d80027;
$orange: #ee815e;
$blue: #0052b4;
$white: #ffffff;
$bg: #f8f8f8;
$bg-800: #f1f1f2;
$bg-900: #d5d5d5;
$brown: #bf4a5c;
$secondary_font: "Waleray", sans-serif;
:root {
  --clr-body: #{$clr-body};
  --clr-body-900: #{$clr-body-900};
  --clr-body-800: #{$clr-body-800};
  --clr-body-700: #{$clr-body-700};
  --clr-body-600: #{$clr-body-600};
  --clr-body-500: #{$clr-body-500};
  --clr-body-400: #{$clr-body-400};
  --clr-body-300: #{$clr-body-300};
  --clr-body-200: #{$clr-body-200};
  --clr-body-100: #{$clr-body-100};
  --clr-gray-0: #{$clr-gray-0};
  --clr-gray-200: #{$clr-gray-200};
  --clr-white-100: #{$clr-white-100};
  --clr-red: #{$red};
  --clr-orange: #{$orange};
  --clr-white: #{$white};
  --clr-bg: #{$bg};
  --clr-bg-900: #{$bg-900};
  --clr-bg-800: #{$bg-800};
  --clr-border: #{$border};
  --transition-speed: 0.3s;
}
