//Utility classes

body {
  position: relative;
}

//basic classes
.clr-body {
  color: var(--clr-body);
}
.clr-body-900 {
  color: var(--clr-body-900);
}
.clr-body-800 {
  color: var(--clr-body-800);
}
.clr-body-700 {
  color: var(--clr-body-700);
}
.clr-body-600 {
  color: var(--clr-body-600);
}
.clr-body-500 {
  color: var(--clr-body-500);
}
.clr-blue {
  color: var(--clr-blue);
}
.is-flex {
  display: flex;
}
.inline-flex {
  display: inline-flex;
}
.is-start {
  justify-content: flex-start;
}
.is-center {
  justify-content: center;
}
.is-end {
  justify-content: flex-end;
}
.is-between {
  justify-content: space-between;
}
.is-around {
  justify-content: space-around;
}
.is-evenly {
  justify-content: space-evenly;
}
.is-align-start {
  align-items: flex-start;
}
.is-align-end {
  align-items: flex-end;
}
.is-align-center {
  align-items: center;
}

.dir-column {
  flex-direction: column;
}
.dir-column-reverse {
  flex-direction: column-reverse;
}
.dir-row {
  flex-direction: row;
}

.dir-row-reverse {
  flex-direction: row-reverse;
}

.flex-grow {
  flex-grow: 1;
}
.is-wrap {
  flex-wrap: wrap;
}
.is-nowrap {
  flex-wrap: nowrap;
}
.flex-shrink-0 {
  flex-shrink: 0;
}

.is-align-baseline {
  align-items: baseline;
}

.flex-1 {
  flex: 1;
}
.is-pointer {
  cursor: pointer;
}
.pointer-drag {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
.is-uppercase {
  text-transform: uppercase;
}
.is-capitalize {
  text-transform: capitalize;
}
.is-underline {
  text-decoration: underline;
}
.max-510 {
  max-width: 510px;
  width: 100%;
}
.is-break {
  @include break-word();
}
.is-ellipsis {
  @include ellipsis();
}
.is-relative {
  position: relative;
}
.italic {
  font-family: var(--ff-italic);
}

.is-underline {
  text-decoration: underline;
}
.is-strike {
  text-decoration: line-through;
}

.flex-1 {
  flex: 1;
}

.z-index-1 {
  z-index: 1;
}

.z-index-2 {
  z-index: 2;
  position: relative;
}

.is-hidden {
  overflow: hidden;
}

.is-align-right {
  text-align: right;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.text-center {
  text-align: center;
}
.is-hide {
  display: none;
}
.is-show {
  display: block;
}

.line-height-1 {
  line-height: 1;
}
img {
  max-width: 100%;
  height: auto;
}

.is-align-baseline {
  align-items: baseline;
}
// line clamps
.trim-1 {
  @include trim(1);
}
.trim-2 {
  @include trim(2);
}
.trim-3 {
  @include trim(3);
}
.is-grow {
  flex-grow: 1;
}
.is-grow-2 {
  flex-grow: 2;
}

.clr-primary {
  color: var(--clr-primary);
}

.clr-white {
  color: var(--clr-white);
}
.clr-white_bg {
  background-color: var(--clr-white);
}
.clr-bg {
  background-color: var(--clr-bg);
}

$spaces: 2, 4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64;
$negative-spaces: -2, -4;

//row gap

@each $space in $spaces {
  .row-gap-#{$space} {
    row-gap: ($space / 16) * 1rem;
  }
}

//column gap

@each $space in $spaces {
  .col-gap-#{$space} {
    column-gap: ($space / 16) * 1rem;
  }
}

//gap

@each $space in $spaces {
  .gap-#{$space} {
    gap: ($space / 16) * 1rem;
  }
}
//margin
@each $space in $spaces {
  .m-#{$space} {
    margin: ($space / 16) * 1rem;
  }
}

//margin bottom

@each $space in $spaces {
  .mb-#{$space} {
    margin-bottom: ($space / 16) * 1rem;
  }
}

//margin top
@each $space in $spaces {
  .mt-#{$space} {
    margin-top: ($space / 16) * 1rem;
  }
}

@each $space in $negative-spaces {
  .mt-#{$space} {
    margin-top: ($space / 16) * 1rem;
  }
}

//margin right
@each $space in $spaces {
  .mr-#{$space} {
    margin-bottom: ($space / 16) * 1rem;
  }
}

// margin left
@each $space in $spaces {
  .ml-#{$space} {
    margin-left: ($space / 16) * 1rem;
  }
}

// margin y
@each $space in $spaces {
  .my-#{$space} {
    margin-top: ($space / 16) * 1rem;
    margin-bottom: ($space / 16) * 1rem;
  }
}

// margin x
@each $space in $spaces {
  .mx-#{$space} {
    margin-left: ($space / 16) * 1rem;
    margin-right: ($space / 16) * 1rem;
  }
}

//padding
@each $space in $spaces {
  .pd-#{$space} {
    padding: ($space / 16) * 1rem;
  }
}

// padding bottom

@each $space in $spaces {
  .pb-#{$space} {
    padding-bottom: ($space / 16) * 1rem;
  }
}

// padding top

@each $space in $spaces {
  .pt-#{$space} {
    padding-top: ($space / 16) * 1rem;
  }
}

// padding left

@each $space in $spaces {
  .pl-#{$space} {
    padding-left: ($space / 16) * 1rem;
  }
}

//padding right

@each $space in $spaces {
  .pr-#{$space} {
    padding-right: ($space / 16) * 1rem;
  }
}

// padding x
@each $space in $spaces {
  .px-#{$space} {
    padding-left: ($space / 16) * 1rem;
    padding-right: ($space / 16) * 1rem;
  }
}

// padding y
@each $space in $spaces {
  .py-#{$space} {
    padding-top: ($space / 16) * 1rem;
    padding-bottom: ($space / 16) * 1rem;
  }
}

//border radius
@each $space in $spaces {
  .radius-#{$space} {
    border-radius: ($space / 16) * 1rem;
  }
}

//font weight
$weights: 200, 300, 400, 500, 600, 700, 800, 900, bold, normal;

@each $weight in $weights {
  .fw-#{$weight} {
    font-weight: $weight;
  }
}

//square & circle class
.is-square {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  overflow: hidden;
  img {
    object-fit: cover;
  }

  &_sm {
    flex: 0 0 auto;
    max-width: 38px;
    width: 38px;
    height: 38px;
    img {
      max-height: 24px;
    }
  }
  &_xs {
    flex: 0 0 auto;
    max-width: 32px;
    width: 32px;
    height: 32px;
    img {
      max-height: 18px;
    }
    svg {
      max-height: 24px;
    }
    i {
      font-size: var(--fs-h5);
    }
  }
  &_md {
    flex: 0 0 auto;
    max-width: 70px;
    width: 70px;
    height: 70px;
    img {
      max-width: 50px;
    }
  }
  &_lg {
    flex: 0 0 auto;
    max-width: 108px;
    width: 108px;
    height: 108px;
    img {
      max-width: 60px;
    }
  }
  &_circle {
    border-radius: 100%;
    img {
      border-radius: 100%;
    }
  }
  &-drag {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
  }
  &_icon {
    background-color: var(--clr-white);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    @include transition(background-color 0.4s ease-in-out);

    &:hover {
    }
  }
}
//status
.is-status {
  padding: 0.125rem 0.6125rem;
  font-size: var(--fs-md);
  text-align: center;
  position: relative;
  &.is-before {
    display: inline-block;

    &::before {
      content: "";
      border-radius: 50%;
      width: 8px;
      height: 8px;
      margin-right: 0.5rem;
      display: inline-flex;
    }
  }
  &_pd {
    padding: 0.5px 10px;
    text-transform: capitalize;
  }
  &_border {
    border: 1px solid;
  }

  &_radius {
    border-radius: 24px;
  }
}

//social icons
.social-icons {
  a {
    display: inline-flex;
  }
  svg {
    path {
      transition: fill linear var(--transition-speed);
    }
    &:hover,
    &:focus {
      path {
        fill: var(--clr-blue);
      }
    }
  }
}
.is-grid {
  display: grid;
}
%video-icon {
  height: 126px;
  width: 126px;
  background-color: var(--clr-white);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  box-shadow: 0px 8px 16px #0000001f;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.play-icon {
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  opacity: 0.95;
  &:hover {
    opacity: 1;
  }
  @include breakpoint-down("md-tab") {
    img {
      max-width: 64px;
    }
  }
}

//section spacing

%section-padding {
  padding: 4rem 0;
  @include breakpoint-up("lg-tab") {
    padding: 6.27rem 0;
  }
}
.page-section {
  @extend %section-padding;
}
.redoxmind-d-none{
  display: none;
}
.desktop-view {
  display: none;
  @include breakpoint-up("md-tab") {
    display: block;
  }
}
.mobile-view {
  display: block;
  @include breakpoint-up("md-tab") {
    display: none;
  }
}
