body{
  h1,h2,h3,h4,h5{
    letter-spacing: -0.05em;
    margin: 0;
    color: $heading_text_color;
    font-weight: 700;
    &.#{$prefix}-text-white{
      color: white;
    }
  }
  h1,
  .#{$prefix}-fs-xxl{
    @include font-size(24px);
    @include media(sm){
      @include font-size(38px);
    }
  }
  .#{$prefix}-secondary-letter-spacing{
    letter-spacing: -0.05em;
  }
  h2{
    @include font-size(24px);
    @include media(sm){
      @include font-size(42px);
    }
  }
  h3{
    font-weight: 600;
    @include font-size(16px);
    @include media(sm){
      @include font-size(26px);
    }
  }
  h5{
    letter-spacing: 0.02em;
    font-weight: $root_font_weight;
    @include font-size($root_font_size);
    @include media(sm){
      @include font-size($root_font_size_lg_device);
    }
  }
  a{
    text-decoration: none;
  }
  p{
    line-height: 20px;
  }

  .#{$prefix}-heading-text-color{
    color: $heading_text_color;
  }
  .#{$prefix}-secondary-text-color{
    color: #627491;
  }
}