$prefix: 'cp';
$primary: #2079FF;
$primary_bg_text_color: #fff;
$root_font: "Lexend",sans-serif;
$root_font_weight: 400;
$root_font_size: 14px;
$root_font_size_lg_device: 16px;
$root_letter_spacing: -0.02em;
$root_text_color: #636363;
$heading_text_color: #000;
