.clr-white_bg {
  background-color: var(--clr-white);
}
.clr-bg {
  background-color: var(--clr-bg);
}
.clr-bg-700_bg{
  background-color: #F9FAFE;
}
.clr-bg-800_bg {
  background-color: var(--clr-bg-800);
}