.clr-white_bg {
  background-color: var(--clr-white);
}
.clr-bg {
  background-color: var(--clr-bg);
}
.clr-bg-700_bg{
  background-color: #F9FAFE;
}
.clr-bg-white-100{
  background-color: var(--clr-white-100);
}
.clr-bg-800_bg {
  background-color: var(--clr-bg-800);
}
.bg-image{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-image-top{
  background-position: top;
}