
.#{$prefix}-container{
  width: 1144px; //1096+48
  padding: 0 24px;
  margin: auto;
  max-width: 100%;
  @include media(xs){
    padding: 0 60px;
  }
  @include media(largeScreen){
    padding: 0 24px;
  }

}
.#{$prefix}-row {
  margin: 0 -10px;
}
.#{$prefix}-col {
  padding: 0 10px;
}

.#{$prefix}-page-section{
  padding: 32px 0;
  @include media(sm){
    padding: 96px 0;
  }
}
.#{$prefix}-page-section-md{
  padding: 32px 0;
  @include media(sm){
    padding: 54px 0;
  }
}
.#{$prefix}-page-top-section-md{
  padding-top: 32px;
  @include media(sm){
    padding-top: 54px;
  }
}
.#{$prefix}-page-top-section{
  padding-top: 32px;
  @include media(sm){
    padding-top: 96px;
  }
}
.#{$prefix}-page-bottom-section{
  padding-bottom: 32px;
  @include media(sm){
    padding-bottom: 96px;
  }
}
