{{#customer}}
  <div class="cp-total-customer-section cp-mt-8">
    <div class="cp-container">
      <div class="cp-image-section cp-bg-image cp-items-center cp-default-border-radius" style="background-image: url({{image}});">
        <div class="cp-desc cp-text-center">
          <p class="cp-m-0">{{title}}</p>
          <div class="cp-title cp-mt-2 cp-xs-mt-3 cp-sm-mt-4 cp-text-white">{{total_customers}}</div>
          <p class="cp-mb-0 cp-mt-1 cp-xs-mt-3 cp-sm-mt-4">{{total_countries}}</p>
        </div>
      </div>
    </div>
  </div>
{{/customer}}