{{#get_started}}
  <div class="cp-get-started-section cp-mt-8">
    <div class="cp-container">
      <div class="cp-image-section cp-bg-image cp-items-end cp-image-overlay-gradient cp-default-border-radius" style="background-image: url({{image}});">
        <div class="cp-wrapper cp-position-relative cp-z-index-2 cp-md-d-flex cp-align-end">
          <div class="cp-desc cp-text-white">
            <h2 class="cp-text-white cp-m-0">{{{title}}}</h2>
            <p class="cp-mt-3 cp-md-mt-8 cp-mb-0">{{{desc}}}</p>
          </div>
          <div class="cp-btn-section cp-md-text-right cp-mt-4 cp-xs-mt-5 cp-md-m-0">
            <a class="cp-btn cp-btn-primary-bg cp-w-full cp-xs-w-fit-content" href="{{url}}">
              {{btn_text}}
              <span class="cp-ml-2">
                {{{chevron_arrow_right_icon}}}
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
</div>
{{/get_started}}