{{#about_us}}
  <div class="cp-about-us-section">
    <div class="cp-container">

      <div class="cp-wrapper cp-page-section-md cp-sm-d-flex">
        <div class="cp-title-section cp-col-sm-6">
          <h2 class="cp-m-0 cp-pr-4 cp-xs-pr-0">{{{title}}}</h2>
        </div>

        <div class="cp-desc cp-col-sm-6">
          <p class="cp-mt-4 cp-sm-mt-0 cp-mb-0">{{desc}}</p>
          <div class="cp-btn-section cp-mt-4 cp-sm-mt-6">
            <a class="cp-btn cp-btn-primary-bg cp-w-full cp-xs-w-fit-content" href="{{sign_up_url}}">
              {{btn_text}}
              <span class="cp-ml-2">
                {{{chevron_arrow_right_icon}}}
              </span>
            </a>
          </div><!-- .cp-btn-section -->
        </div><!-- .cp-desc -->

      </div><!-- .cp-wrapper -->
      <div class="cp-image-section cp-bg-image cp-default-border-radius" style="background-image: url({{image}});"></div>

    </div><!-- .cp-container -->
  </div><!-- .cp-abou-us-section -->
{{/about_us}}